# Configuration file

general {
    # What's the priority for raid entities spawning as captain. (format is registry name-priority, higher priority entities are picked over lesser ones, a priority of 0 or less cannot be a captain)
    S:captainPriority <
        raids:pillager-1
        minecraft:vindication_illager-3
        minecraft:evocation_illager-2
        minecraft:illusion_illager-2
     >

    # How many waves do raids last for on easy mode?
    I:easyWaves=3

    # How many waves do raids last for on hard mode?
    I:hardWaves=7

    # How many waves do raids last for on normal mode?
    I:normalWaves=5

    # Use ominous bottles and the version of bad omen from 1.21+?
    B:ominousBottles=true

    # Should raids be centered on the player's location when the raid starts instead of the village center? (1.21+ behaviour)
    B:raidCenteredOnPlayer=true
}


