# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
本整合包由一堆人合作开发，且长期纳新
tianleoo是本整合的发起者但不是唯一作者
神秘终将复兴，联动不能停止！
初入神秘，记得先在地上捡起一块水晶碎片
不要问我神秘的法杖去了哪里，我也在思考这个问题！
晚安，做个异梦
出于平衡性因素，我们魔改了整合包内的一些配方
LOLOLOLOLOL
当你凝视深渊时，深渊说今晚结算
任务仅作为引导，真正的发展还得看你自己
炸裂缝获取元始珍珠是个痛苦而漫长的过程
不要随意倾倒坩埚
商店里的东西贵的出奇，所以不要长期依赖商店
裂缝很贪婪，它会吃掉掉落物然后什么都不还
没有解开对应的研究不能制作相应的物品
THIS ISNT keletu
商店的一些东西被锁住了，需要完成对应的任务才能解开
有些任务被隐藏了，需要完成它们的前置任务来发现它们！
世界盐的做法详见异梦，而不是JEI
在TC6想要维持注魔祭坛稳定，一昧的堆白色蜡烛是行不通的
创造模式的物品很贵？其实它们就是个摆设，根本没打算打算让你们买到
攒金币犹如干毛巾挤水，花金币犹如蓄水库放水
虚域，一个获取元始珍珠最高效的地方
一座注魔台最高减免50%的源质消耗
感谢LOADING对整合包的材质进行的制作
邪术注魔台可以增加30%的注魔速度，而荒古注魔台只能增加10%
神秘进阶模组带回了神秘时代的外域
密金套装的制作被简化了，在JEI查看它的配方！
这个整合包是一个团队制作的...没错...一定是...
赛特斯石英可以在坩埚里进行复制和磨粉
炸裂缝来获取你的第一颗元始珍珠
腐化难养，也难清
研究消失了？不，它们只是被归类到主线任务里去了
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


